* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  /* font-family: "Roboto", serif; */
  font-family: 'Fira Code', monospace;
  background-color: #272626;
  color: #ccc;
}


.code-block {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0.5rem;
  overflow-x: auto;
  font-size: 14px;
  line-height: 1.2;
  /* font-family: 'Fira Code', monospace; */
  border-left: 1px solid rgba(232, 177, 94, .1);
  border-right: 1px solid rgba(232, 177, 94, .1);
  margin-top: 20px;
  background-color: #2a2929;
}

.code-block .indent-0 {
  padding-left: 0rem;
}

.code-block .indent-1 {
  padding-left: 0.5rem;
}

.code-block .indent-2 {
  padding-left: 1.3rem;
}

.code-block .indent-3 {
  padding-left: 2.3rem;
}

.code-block .indent-4 {
  padding-left: 3.3rem;
}

.punct {
  color: #fb677f;
}

.key {
  /* color: rgb(255, 198, 110); */
  color: rgb(232, 177, 94);
}

.text {
  color: #cbcfd8;
}

.string {
  color: rgb(165, 194, 96);
}

.comment {
  color: #929292;
  font-style: italic;
}

.operator {
  color: #00BFFF;
  font-weight: bold;
}

.concept {
  color: rgb(197, 134, 192);
  font-weight: bold;
}

.tag {
  color: #7FFF00;
  font-weight: bold;
}

.role {
  color: #b89bdc;
}

.heading {
  color: #c586c0;
}

.bool-true {
  color: #a6c260;
}

.bool-false {
  color: #E06C75;
}

.codeword {
  color: #c586c0;
  font-weight: bold;
  font-style: italic;
}

.code-block span.block {
  display: block;
  line-height: 1.7;
  margin-bottom: -30px;
}

.code-block span.inline {
  display: inline;
}

.code-block span {
  line-height: 1.1;
}

.code-block span.text {
  line-height: 1.5;
}








/* ---------------------  */
/* ? ------ HEADER BAR ------ */
/* ---------------------  */



.header-bar-container {
  position: fixed;
  top: 0;
  left: 10px;
  width: 99%;
  height: 41px;
  background-color: #272626;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  border-bottom: 1px solid rgba(232, 177, 94, .15);
  z-index: 1;
  padding-right: 10px;
}

.bread_cumbs {
  max-width: 900px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  /* border-left: 1px solid rgba(232, 177, 94, .15); */
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-size: 14px;
  color: rgba(232, 177, 94, .7);

}









/* ---------------------  */
/* ? ------ NAVBAR ------ */
/* ---------------------  */



.navbar-container {
  display: none;
  z-index: 2;

  position: fixed;
  top: 0;
  left: 0;

  width: 260px;
  height: 100vh;

  background-color: #272626;
  padding: 10px;
  padding-right: 0;
  padding-top: 0;
  /* margin-top: 10px; */
  font-size: 14px;
  color: rgb(232, 177, 94);
  border-right: 1px solid rgba(232, 177, 94, .15);
}




/* --> Show/Hide Navbar BTNs */

.hide-navbar-btn {
  position: absolute;
  top: 8px;
  right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  border-radius: 50%;
  border: 1px solid rgba(179, 122, 15, .8);
}

.hide-navbar-btn .arrow {
  color: rgba(179, 122, 15, .8);
}

.show-navbar-btn {
  position: fixed;
  z-index: 2;
  top: 8px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  border-radius: 50%;
  border: 1px solid rgba(179, 122, 15, .8);

}

.arrow {
  display: inline-block;
  transform: translateX(-3px);
  transform: translateY(-1px);
  color: rgba(179, 122, 15, .8);
  font-size: 24px;
}

/* <-- Show/Hide Navbar BTNs */





.navbar--header {
  padding: 10px 0;
  padding-left: 10px;
  background-color: rgba(232, 177, 94, .05);

  /* border-top-left-radius: 20px; */

  color: rgb(232, 177, 94);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  border-bottom: 1px solid c;

}






.link-box {
  margin-top: 10px;
}

.sub1-link-box {
  margin-top: 10px;
  margin-left: 20px;
}

.sub2-link-box {
  margin-top: 10px;
  margin-left: 40px;
}

.line-deco {
  width: 95%;
  height: 1px;
  background-color: rgba(232, 177, 94, .2);
  margin-top: 10px;
}



/* ? ------ Helpers ------ */

.hidden {
  display: none;
}


.visible {
  display: block;
}